[user]
	name = Daniil Popov
	email = daniil.popov@corp.vk.com
[core]
	editor = vim
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[alias]
	bn = "!git rev-parse --abbrev-ref HEAD"
	cm = checkout master
	acm = commit -am 
	hr = reset --hard
	pub = "!git push -u origin $(git bn)"
