# Enable Vi/Vim style shortcuts
set editing-mode vi

# Enable History Search (e.g. when typing 'ls' and browsing history only commands with 'ls' in it will be shown)
set keymap vi-command
# these are for vi-command mode
"\e[A": history-search-backward
"\e[B": history-search-forward
"\C-x\C-r": re-read-init-file
set keymap vi-insert
# these are for vi-insert mode
"\e[A": history-search-backward
"\e[B": history-search-forward
"\C-x\C-r": re-read-init-file
"jk": vi-movement-mode 

# Displays common prefix of partial completions in color (depending on file type)
set colored-completion-prefix on

#Display completions in distinct colors dependent on file type
set colored-stats on

# Display Completion Matches 1 per line
set completion-display-width 1

# Completion ignores case
set completion-ignore-case on

# Adds / to directories, * to executables etc.
set mark-symlinked-directories on
set visible-stats on

# Adds a character at the begining of the prompt indicating mode (vi-command, vi-insert, emacs)
#sadly doesn't work everywhere because it's relatively new feature, thus it's commented out
#set show-mode-in-prompt on

# Skips completed Text(e.g. completing after 'e' in 'Makefile' results in 'Makefile' rather than 'Makefilefile')
set skip-completed-text on
