!Set appropriate $TERM
XTerm*termName: xterm-256color
!Enable UTF-8
XTerm*locale: true
!Make ALT behave as input for [ chars instead of æ etc
XTerm*metaSendsEscape: true
XTerm*eightBitInput: false
!Font
XTerm*faceName: Inconsolata LGC
XTerm*faceSize: 10
!Make all XTerms apply .profile and stuff
XTerm*loginShell: true
!BG/FG
XTerm*background: black
XTerm*foreground: white
!Window size
XTerm*VT100*geometry: 80x50
!Change how bolding works
XTerm*boldMode: false
XTerm*colorBDMode: true
XTerm*colorBD: rgb:fc/fc/fc
!Prevent new output to reset sroll position to bottom
XTerm*scrollTtyOutput: false
!Font increase/decrease
XTerm.VT100.translations: #override \
Ctrl <Key> minus: smaller-vt-font() \n\
Ctrl <Key> plus: larger-vt-font() \n\
Ctrl <Key> KP_Subtract: smaller-vt-font() \n\
Ctrl <Key> KP_Add: larger-vt-font() \n\
Ctrl Shift <Key> V: insert-selection(CLIPBOARD) \n\
Ctrl Shift <Key> C: copy-selection(CLIPBOARD)
